{% extends 'Base.html' %}


{% load static %}
{% block title %} Home {% endblock title %}

{% block body_block %}

{% comment %} <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav> {% endcomment %}
<div class="container">
<div class="welcome-section mt-4">
<p>Welcome, to <span class="highlight"> FinNOVA </span> Here you’ll be guided and redirected to the resources to work with your finance independently.</p>

<span class="highlight">NEWS </span>is the one stop resource for all the updated market and finance.<br>
<span class="highlight">QUIZ  </span>is to test and guide about that if you’re ready to face the market with your finance handling skills.<br>
<span class="highlight">CRYPTOBOT </span>is here to help you about your general queries and about the app flow. <br>
</div>

<div class="quiz-section mt-4">
<h2> Enter Quiz Session of your Choice for Detailed Knowledge </h2>
<div class="cards-div mt-4">
<div class="card easy-card">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/global-cryptocurrency-exchange-4021594-3337481@0.png" alt="">
 <a href={% url "chapters" %}> Cryptocurrencies </a>
</div>
<div class="card medium-card">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/crypto-trading-4021601-3337487@0.png" alt="">
Investing
</div>
<div class="card hard-card">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/winner-trophy-4051567-3363960.png" alt="">
Hard
</div>
</div>
</div>
</div>
{% endblock %}