{% extends 'Base.html' %}


{% load static %}
{% block title %} Home {% endblock title %}

{% block body_block %}
<h1>hey Technova</h1>
<iframe height="500" width="500" scrolling="yes" allowtransparency="true" frameborder="0"
    src="https://cryptopanic.com/widgets/news/?bg_color=FFFFFF&amp;font_family=sans&amp;header_bg_color=30343B&amp;header_text_color=FFFFFF&amp;link_color=0091C2&amp;news_feed=trending&amp;text_color=333333&amp;title=Latest%20News"
    height="350px"></iframe>
{% endblock %}