
.chapter-container{
    position: relative;
}
.chapters {
    position: absolute;
     left: 0;
     top: 200px;
     width: 100%;
     height: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* .chapters img{
    max-width: 100%;
} */
.chapters-list{
    display: flex;
    flex-direction: column;

}

.chapter-div {
    background-color: #D09BB5;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
}

.chapter-content-div{
        background-color: #FFFAF3;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
        padding: 16px;
        border-radius: 10px;
}

.chapter-image{
    width: 100%;
}
.chapter-image img{
width: 100%;
height: 300px;
object-fit:cover;
}

.custom-btn{
  display: inline-block;
  background-color: #fdfdfd;
  border-radius: 50px;
  padding: 10px 20px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);		
  transition: all .1s linear;
  margin: 10px;
  transform: translate(0);
}

.custom-btn--pink{
    margin-left: 20%;
    background-image: -webkit-linear-gradient(top, #D09BB5, #D09bb5) !important; 
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px rgba( '#do9bb5' , 0.5), inset 0px -3px 1px 1px rgba(204,198,197,.5);	
}

.custom-btn:hover {
    transform: translate(-4px, -2px)
}