{% extends 'Base.html' %} 
{% load static %}
 {% block title %} Home {% endblock title %} 
{% block body_block %}

<div class="container">
  <div class="mt-5">
  
    <div class="col-12 chapter-content-div">
      <h2 class="m-3"> {{chapter.name}}</h2>

      <div class="chapter-image">
      <img
        src={{chapter.image}}
        alt=""
      />
    </div> 

      <div class="mt-5">
        <p>{{chapter.description | linebreaks}}</p>
      </div>

      <div class="chapter-footer d-flex align-items-center mt-4">

     <iframe width="560" height="315" src="{{chapter.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

      <a href="{{chapter.quiz}}" class="custom-btn custom-btn--pink ml-4"> Proceed to Quiz</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
