{% extends 'Base.html' %} 
{% load static %}
 {% block title %} Home {% endblock title %} 
{% block body_block %}

<div class="container chapter-container">
  <div class="chapters row">
    <div class="chapter-list-img col-6">
      <img
        src="https://cdn3d.iconscout.com/3d/premium/thumb/indian-business-woman-standing-besides-dollar-symbol-2869234-2384337.png"
        alt=""
      />
    </div>

    <div class="col-6 chapter-div">
      <h2 class="m-3">{{name}}</h2>

      <div class="mt-5 chapters-list">
      {% for item in chapter_list%}
          <a href='chapter-content/{{item.id}}' class="custom-btn"> {{forloop.counter}} {{item.name}}  </a>
      {% endfor %}
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
